.titulo{
    color: #683c11;
    text-align: center;
}

.contenedor{
    background-color: #41ad52;
    display: flex;
    width: 80%;
    height: 600px;
    margin: .2em auto;
    text-align: center;
    border: .5rem solid #683c11;
    border-radius: 1rem;
}
.form{
    font-size: 1.2em;
    font-weight: bold;
    color: #F5EBDC;
    margin-top: 15px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
}

.form__input, .form__textarea{
    background: none;
    border: none;
    width: 90%;
    border-bottom: 3px solid #683c11;
    color: inherit;
    font-size: .8em;
    background-color: #41ad52;
}

.form__textarea{
    border: 3px solid #683c11;
    flex-basis: 100px;
    border-radius: 1rem;
}

.boton{
    width: 40%;
    border: none;
    padding: .8rem;
    border-radius: 15px;
    /* background-color: #0072BE; */
    background-color: #683c11;
    color: antiquewhite;
}

.boton:hover{
    /* background-color: #0072bec0; */
    background-color: #683c11c0;
}
