body{
    padding: 0;
    margin:0;
    color:#ffffff;
    font-family: 'Lato';
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(143, 67%, 40%, 0.61),hsla(0, 0%, 30%, 0.664)) ,url(../Media/ImgID/Beartual.png);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(143, 67%, 40%, 0.61), hsla(0, 0%, 30%, 0.664)),url(../Media/ImgID/Beartual.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{
    text-align: center;
}
       
.columna1{
    padding: 10px;
    width: 100%;
    text-align: left;
    border: 10%;
}

@media (min-width: 600px) {
    .columna1{
        padding: 20px;
        font-size: 1.5em;
    }
}

@media (min-width: 800px) {
    .columna1{
        padding: 40px;
        font-size: 2em;
    }
}

body{
    border: 20%;
    font-family: 'Lato';
}

div,p{
    font-size: 19px;
}
nav, section{
    font-size: 30px;
}

.Slogan{
    text-align: center;
    font-size: 54px;

}

section{
    align-items: center;
}

p{
    font-size: 22px;
}

.Li{
    font-size: 19px;
}

.imagen{
    text-align: center;
   ;
}
.imgsrc{
    border-radius: 5%;
}
h1{
    text-align: center;
}