body{
    background-color: #F5EBDC;
}
.barra{
    width: 100%;
    line-height: 220%;
    text-align:center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.barra1{
    width: 20%;
    background-color: #41ad52;
}
.barra2 :hover{
    background-color: #41ad51c7;
}
.enlace{
    text-decoration: none;
    color: black;
}
.logo{
    vertical-align: middle;
}
div{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
section{
    width: 48%;
    padding-left: 2%;
}
@media (max-width:600px){
    section{
        padding: 0%;
        width: 100%;
        text-align: center;
    }
    .aspect_ratio{
        height: 13rem;
    }
}
