
*{
    font-family: Arial, Helvetica, sans-serif;/*Fuente de la pag*/
}

body{
    overflow-x: hidden;
    background-color: #F5EBDC;
    margin: 0;
}
.barra{
    width: 100%;
    line-height: 220%;
    text-align:center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.barra1{
    width: 20%;
    background-color: #41ad52;
}
.barra2 :hover{
    background-color: #41ad51c7;
}
.enlace{
    text-decoration: none;
    color: black;
}
.logo{
    vertical-align: middle;
}
div{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
section{
    width: 48%;
    padding-left: 2%;
    border-radius: 1rem;
}

@media(max-width:600px){
    .barra{
        font-size: .7rem;
    }

    section{
        padding: 0%;
        width: 100%;
        text-align: center;
    }
}
.foot{
    background-color: #683c11;
    padding: 2rem 0px;
    text-align: center;
    font-size: 1.1rem;
    position: relative;
    width: 100%;
    bottom: 0px;
    color: #F5EBDC;
}

.pie{
    color: #F5EBDC;
}
img{
    border-radius: 1rem;
}
.imagen{
    text-align: center;
}
video{
    border-radius: 1rem;
}
.productosyservicios{
    width: 72%;
    background-color: #683c11;
    color: antiquewhite;
    text-align: center;
    font-weight: bold;
    padding: 0;
    padding-left: 2%;
    padding-right: 2%;
}
.cuadrado{
    width: 100%;
    padding-left: 11%;
    padding-right: 11%;
    text-align: justify;
}
.productos{
    padding: 0;
    padding-left: 2%;
    padding-right: 2%;
    width: 32.95%;
    background-color: #41ad52;
}
.espacio{
    width: .1%;
}
@media(max-width:600px){
    .aspect_ratio{
        height: 13rem;
    }
    .aspect_ratio2{
        height: 10rem;
    }
    .aspect_ratio3{
        height: 19rem;
    }
    .aspect_ratio4{
        height: 7rem;
    }
    .espacio{
        width: 100%;
        height: 1rem;
    }
    .productos{
        width: 74%;
    }
    .productosyservicios{
        width: 74%;
    }
}