body{
    overflow-x: hidden;
}
.productosyservicios{
    width: 76%;
    background-color: #683c11;
    color: antiquewhite;
    text-align: center;
    font-weight: bold;
    padding: 0;
}
.cuadrado{
    width: 100%;
    padding-left: 11%;
    padding-right: 11%;
    text-align: justify;
}
.productos{
    padding: 0;
    width: 36%;
    background-color: #41ad52;
}
.espacio{
    width: 2%;
}
.img{
    text-align: center;
}
.img2{
    border-radius: 1rem;
}
@media(max-width:600px){
    .espacio{
        width: 100%;
        height: 1rem;
    }
    .productos{
        padding: 0%;
        width: 78%;
    }
    .productosyservicios{
        width: 78%;
    }
}